@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}
body {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup-form {
  position: relative;
}
.signup-form h2 {
  font-size: 32px;
  color: #111;
  text-align: center;
  margin-bottom: 60px;
}
.int-area {
  position: relative;
  width: 300px;
  margin-top: 40px;
}
.int-area:first-child {
  margin-top: 0;
}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  border: none;
  border-bottom: 1px solid #111;
  font-size: 18px;
  color: #111;
  outline: none;
}
.int-area label {
  position: absolute;
  top: 15px;
  left: 18px;
  font-size: 18px;
  color: #111;
  transition: .5s ease;
}
.int-area label.warning {
  color: red !important;
  animation: warning .3s ease;
  animation-iteration-count: 3;
}
@keyframes warning {
  0% {transform: translateX(-8px);}
  25% {transform: translateX(8px);}
  50% {transform: translateX(-8px);}
  75% {transform: translateX(8px);}
}
.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #166cea;
}

.btn-area {
  margin-top: 80px;
}
.btn-area button {
  width: 100%;
  height: 50px;
  background-color: #166cea;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 25px;
}
.btn-area button:hover {
  cursor: pointer;
}
.btn-area button:active {
  background-color: #162fea;
}
span {
  display: block;
  padding: 10px 0 0 0;
  color: green;
}
span.different {
  color: red;
}