/* 메인 화면 */
.menuarea {
  width: 100%;
  height: 100vh;
}

.selectMenu {
	position: absolute;
	width:340px; /* wrap에 속한 div의 넓이+margin값을 더한 넓이와 높이값 */
	height:340px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%); /* 중앙정렬 */
}
.selectMenu > div {
	width:150px;
	height:150px;
	border:1px solid #333;
	float:left;
	margin: 10px;
	box-sizing:border-box; /* border 또한 위치값을 갖기에 div크기가 더 커짐을 방지하기 위한 */
  
}
.selectMenu > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.selectMenu > div:nth-child(3) {
	clear: both;
}