/* COMMON */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
	height: 100%;
}

/* navbar */
.navbar {
  width: 100%;
  z-index: 99;
}
.container-fluid {
  position: relative;
}
nav.bg-light {
  background-color: royalblue !important;
}
div > ul > li > a.nav-link {
  margin-top: 10px;
}
div > ul > li > a.nav-link:hover {
  font-weight: 700;
}
div > ul > li > a.nav-link:active {
  font-weight: 700;
}
.navbar-collapse {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.navbar-collapse > ul > .nav-item {
  border-bottom: 1px solid #888;
}
@media ( min-width: 300px ) {
  .cus-area {
    position: fixed;
    width: 180px;
    height: 40px;
    top: 1%;
    right: 20%;
    transform: translate(0, -3%);
  }
  .cus {
    display: flex;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    width: 180px;
    height: 20px;
  }
  .cus li {
    padding: 0 0 0 16px;    
  }
  .cus li a {
    color: #333;
  }
  .cus li a:hover {
    color: #fff;
  }
  .cus li a:active {
    color: #fff;
  }
}
@media ( min-width: 1000px ) {
  .cus-area {
    position: fixed;
    width: 180px;
    height: 40px;
    top: 1%;
    right: 5%;
    transform: translate(0, -3%);
  }
  .cus {
    display: flex;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    width: 180px;
    height: 20px;
  }
  .cus li {
    padding: 0 0 0 16px;    
  }
  .cus li a {
    color: #333;
  }
  .cus li a:hover {
    color: #fff;
  }
  .cus li a:active {
    color: #fff;
  }
  .navbar-collapse {
    position: static;
    background-color: royalblue;
  }
  .navbar-collapse > ul > .nav-item {
    border-bottom: none;
  }
}